body {
  position: relative;
  padding-top: 70px;
  padding-bottom: 30px;
}

#text{
  font-size: 200%;
  font: bold;
  color: #000000;
}

#configtab{
  width: 99%;
}

ul.nav-pills.affix{
  top: 70px;
  width: 15%;
}