{% extends "error_base.html" %}
{% block title %}404{% endblock %}
{% block css %}
    <style>
    body {overflow: hidden;}
    #girl {position: absolute; margin-left: auto; margin-right: auto; width: 900px; top: 10px;}
    #description {position: absolute; margin-left: auto; margin-right: auto; width: 200px; height: 100px; top: 100px; font-size: 28px;}
    </style>
{% endblock %}
{% block body %}
    <img id="girl" class="js-plaxify" data-invert=true data-xrange="10" data-yrange="10" src="{{url_for('static', filename='img/500girl.png')}}">
    <div id="description" class="js-plaxify" data-invert=false data-xrange="20" data-yrange="20" >啊，不行，要坏掉了~</div>
{% endblock %}