<!DOCTYPE html>
<html lang="zh-CN">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Bootstrap switch CSS -->
    <link href="{{url_for('static', filename='css/bootstrap-switch.min.css')}}" rel="stylesheet">
    <!-- Fonts Awesome CSS -->
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--<link href="{{url_for('static', filename='css/custom_theme.css')}}" rel="stylesheet">-->
    
    {% block css %}{% endblock %}
    {% endblock %}
</head>

<body role="document">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">扒虫</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">书柜<span class="fa fa-book"></span></a></li>
                    <li><a href="/search">搜书<span class="fa fa-search"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/config"><span class="fa fa-cog"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <div class="footer">
        <hr>
        <p align="center">免责声明:内容皆来源于网络，作者不负任何责任。<a href="https://github.com/ling7334/Novel-crawler">@ling7334</a></p>
        <div id="loading" class="progress progress-striped active center-block" style="width: 10%;">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
    </div>

    <!--信息提示框-->
    <div id="message" style="position: fixed; bottom: 80px; right: 30px; opacity: 1;">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-dismissible alert-{{category}}">
            <button class="close" type="button" data-dismiss="alert">&times;</button>
            <strong>{{message}}</strong>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!--返回顶部-->
    <div id="topper" title="返回顶部" class="bg-primary" style="font-size: 30px; justify-content:center; align-items:center; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; display: none; position: fixed; bottom: 30px; right: 30px; opacity: 1; cursor: pointer; width:50px; height:50px; border:0;"><span class="glyphicon glyphicon-chevron-up"></span></div>

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jquery core JavaScript -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <!-- bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- bootstrap switch JavaScript -->
    <script src="{{url_for('static', filename='js/bootstrap-switch.min.js')}}"></script>

    {% block js %}{% endblock %}

    <script src="{{url_for('static', filename='js/base.js')}}"></script>
</body>

</html>