{% extends "base.html" %}
{% block title %}{{novel.name}}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block css %}
  <style>
    #chapterlink{overflow:hidden;white-space: nowrap;}
  </style>
{% endblock %}
{% block javascript %}
  <script src="{{url_for('static', filename='js/book.js')}}"></script>
{% endblock %}
{% block body %}
<h1 align="center">{{novel.name}}</h1>

    <div class="pull-right">
        <ul class="nav nav-pills">
          <li class="dropdown">
            <a class="dropdown-toggle" aria-expanded="false" style="cursor:pointer" data-toggle="dropdown">
              功能 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a style="cursor:pointer" onclick="update()">更新</a></li>
              <li><a style="cursor:pointer" onclick="change()">换源</a></li>
              <li class="divider"></li>
              <li style="background:red;"><a style="cursor:pointer" onclick="del()">删除!</a></li>
            </ul>
          </li>
        </ul>
      </div>

    <div class="well row">
      <img class="col-md-4"  width="120" height="150"  style="max-width: 120px; max-height: 150px;" alt="" src="#image" border="0">
      <div class="col-md-8">
        <p><strong>{{novel.description}}</strong></p>
        <p class="text-muted">
          <span>作者：</span><span id="author">{{novel.author}}</span><span> | </span>
          <span>分类：</span><span id="category">{{novel.category}}</span><span> | </span>
          <span>状态：</span><span id="status">{{novel.status}}</span><span> | </span>
          <span>更新时间：</span><span id="update">{{novel.update}}</span><span> | </span>
          <span>来源：</span><span><a  id="resource" href="{{novel.resourcehref}}">{{novel.resource}}</a></span><span> | </span>
        </p>
      </div>
    </div>

    <div class="list-group row">
      {% for chapter in chapters %}
       <a class="list-group-item col-lg-4" id="chapterlink" href="book/{{chapter.name}}?chapter={{chapter.id}}/">{{chapter.name}}
       {% if chapter.bookmark%}<span class="badge">书签</span>{% endif %}</a>
      {% endfor %}
    </div>
</div>
{% endblock %}
