{% extends "base.html" %}
{% block title %}书柜{% endblock %}
{% block css %}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block javascript %}{% endblock %}
{% block body %}
<div class="container row center-block">
    {% for novel in novellist %}
    <div class="col-md-5 well row">
        {% if novel.image %}
        <img class="col-md-4" width="120" height="150" style="max-width: 120px; max-height: 150px;" alt="" src="{{novel.image}}" border="0">
        {% else %}
        <img class="col-md-4" width="120" height="150" style="max-width: 120px; max-height: 150px;" alt="" src="{{url_for('static', filename='img/default.jpg')}}" border="0">
        {% endif %}
        <div class="col-md-8">
            <p><a href="{{url_for('book', novelname=novel.name)}}"><strong>{{novel.name}}</strong></a></p>
            {% if novel.latest %}
            <p  class="text-primary">最新章节：<a href="{{url_for('book', novelname=novel.name, chapter=chapter.id)}}">{{novel.latest.name}}</a></p>
            {% else %}
            <p  class="text-primary">最新章节：</p>
            {% endif %}
            {% if novel.lastread %}
            <p  class="text-primary">最后阅读：<a href="{{url_for('book', novelname=novel.name, chapter=chapter.id)}}">{{novel.lastread.name}}</a></p>
            {% else %}
            <p  class="text-primary">最后阅读：</p>
            {% endif %}
        </div>
    </div>
    {% if novel.index%2==0 %}
    <div class="col-md-2"></div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}