{% extends "base.html" %}
{% block title %}{{chaptername}}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block css %}{% endblock %}
{% block javascript %}
{% if continuously %}
  <script src="{{url_for('static', filename='js/continuously.js')}}"></script>
{% else %}
  <script src="{{url_for('static', filename='js/pager.js')}}"></script>
{% endif %}
{% endblock %}
{% block body %}
    <ul class="breadcrumb">
      <li><a href="{{url_for('book', novelname=novelname)}}">{{novelname}}</a></li>
      <li class="active">{{chaptername}}</li>
    </ul>
  <div id="context">
    <div class="well well-lg center-block" id="text">
      <h1 align="center">{{chaptername}}</h1>
      <p>{{text}}</p>
{% if not continuously %}
      <ul class="pager">
        <li class="previous"><a href="{{url_for('book', novelname=novelname, chapter=chapterid-1)}}">&larr; 上一章</a></li>
        <li class="next"><a href="{{url_for('book', novelname=novelname, chapter=chapterid+1)}}">下一章 &rarr;</a></li>
      </ul>
{% endif %}
    </div>
  </div>
{% endblock %}